.profile-pic-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-wrapper {
    height: 100px;
    width: 100px;
    border: 1px dashed black;
    border-radius: 50% ;

}

.img-wrapper:hover {
    cursor: pointer;
}

.profile-pic {
    height: 100%;
    width: 100%;
    border-radius: 50% ;

}

.file-input {
    display: none;
}

.changed-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}