* {
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    width: 70vw;
    height: 50vh;
}

.title {
    background-color: beige;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form {
    margin: 0;
    padding: 0;
    display: flex;
}


input, textarea {
    width: 100%;
    height: 3em;
    resize: none;
}

.message {
    border: 1px solid black;
    padding: .5em;
}

.author-message {
    text-align: end;
}

.friend-message {
    text-align: start;
}

.history {
    margin-top: auto;
}