.request-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
}

.friend-requests-wrapper {
    display: flex;
    flex-direction: column;
}

.outgoing {
    background-color: rgb(238, 238, 238);
    padding-right: 5px;
}

img {
    border: 1px solid black;
}