.request-wrapper {
    display: flex;
    justify-content: end;
    align-items: center;
}

.friend-requests-wrapper {
    display: flex;
    flex-direction: column;
}

.outgoing {
    background-color: rgb(238, 238, 238);
}

img {
    border: 1px solid black;
}

.sent-friend-wrapper {
    display: flex;
    justify-content: space-between;
}